body {
  width: 100%;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #707070;
  font-family: "Roboto", sans-serif;
}
a {
  color: #2C3144;
}

#headshot {
  width: auto;
  height: 300px;
  border-radius: 2rem;
  margin: 50px;
}

section {
  display: flex;
  width: 50%;
  flex-direction: row;
  align-items: center;
}
/* img {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
} */

.greeting {
  margin-bottom: 0;
  font-size: 45px;
  font-weight: 600;
  color: #2C3144;
}
